<div class="container-fluid top-main">
 <div class="container">
   <div class="row">
    <div class="col-md-6 logo"><a ui-sref="home.search"><img src="app/assets/images/logo.png"></a></div>
    <div class="col-md-6 menu-main"></div>
  </div>
</div>
</div>

<div class="container-fluid innerbg">
  <div class="container">
   <div class="row"><h1>Anytime, Anywhere</h1></div>
 </div>
 <div class="row"><div class="checks"></div></div>
</div>

<div ui-view></div>

<!--footer-->
<div class="gotop"><img src="app/assets/images/gotop.png"></div>   
<div class="container-fluid footer-wrap">
  <div class="container footer-wrap-main">
   <div class="clearfix">Home &bull; cities &bull; drive</div>
   <div class="footer-wrap-links"><a href="#">help center</a>
     <a ui-sref="home.about">about us</a>
     <a href="#">careers</a>
     <a ui-sref="vendorhome.signin">be a vendor</a>
     <a ui-sref="home.contact">reach us</a></div>
     <div class="footer-wrap-links">
       <a href="#"><img src="app/assets/images/fb.png"></a>
       <a href="#"><img src="app/assets/images/twitter.png"></a>
       <a href="#"><img src="app/assets/images/gplus.png"></a>
     </div>
   </div>
 </div> 
 <!--footer-->

<script type="text/javascript">
  $(function(){    
   $('.links a').click(function(){
      var item=$(this).parent();
       $('.links').removeClass('menuactive');
       item.addClass("menuactive")
    });
  });
  </script>

  <script>
        $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.gotop').fadeIn();
            } else {
                $('.gotop').fadeOut();
            }
        });

        $('.gotop').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });
    });
  </script>