<div class="container-fluid innerbg">
    <div class="container">
        <div class="row"><h1>Anytime, Anywhere</h1></div>
    </div>
    <div class="row"><div class="checks"></div></div>
</div>
<div class="container careers-wrap">
<h1><span>Hello!</span></h1>
<p>Do you have plans to go out but are facing trouble deciding how to book a cab of your choice?
Well the team of “Ride on Cab” has sorted out the best way for you.</p>
<p>Ride on Cab stands for taking you places – a free smartphone app and a searchable website which puts people just a few taps away from the licensed vehicles that could take them home.</p>
<p>There’s nothing better than getting access to the best possible taxi service and enhancing the experience of your ride. Isn’t it? Be it being a newbie in that different city, a trip to the mall, rushing out for that utter important meeting or booking a cab for those emergencies, Ride on Cab gives you the best travel experience from the very beginning to the end, with a smart searchable website and an outstanding Mobile app.</p>

<h3>Who are we?</h3> 
<p>Well, RideOnCab is a product from Awesome Labs founded by three internet entrepreneurs. Not much into bragging rights but we are just a couple of crazy folks who just came up with the idea of how we could improve the way people commuted over coffee. And yes, it can solve the problem of existing cab booking system with its amazing Idea and Technology. Through “RideOnCab” people can book a cab by searching for the best services out of all the other existing facilities and compare prices too. The app gives you an access to the largest network of reliable cabs.</p>
<p>What is that astounding feature here that could make you say Ride on Cab drives me happy?
Let’s think about that time when you are in a hurry and you want to book a cab. But all you can do is remember those half customer care numbers of either of the services available online. Furthermore isn’t it almost impossible to download multiple apps on your mobile phone and switch to and fro from one service to another. This is where Ride on Cab comes into picture. We have designed a very interactive and an effortless app and website that just brings all the multiple cab vendors like uber, taxiforsure, ola, meru and fasttrack etc under one roof. Wow, isn’t it a relief from continuously tapping on that mobile phone to get to an app before getting that cab? </p>
<p>It’s a one app, one website, one service and one customer care number to book for cabs that too from a wide range of services. </p>

</div>