<div class="container-fluid innerbg">
    <div class="container">
        <div class="row"><h1>Anytime, Anywhere</h1></div>
    </div>
    <div class="row"><div class="checks"></div></div>
</div>

<div class="container details-wrap">
    <div class="row">
        <div class="col-md-9 col-sm-8 details-left">
            <h2>Passenger Details</h2>
            <p>
                Please ensure all of the required fields are completed at the time
                of booking. This information is imperative to ensure a smooth journey.
                All fields are required.
            </p>
            <div class="col-md-9 col-sm-12 no-pad" ng-show="isuserloggedin">
                <div class="clearfix">
                    <h3>Verify your address</h3>
                </div>
                <div style="margin-bottom:20px;">
                    <label>{{userverify.fname}} {{userverify.lname}},</label><br />
                    <label>{{userverify.address1}},{{userverify.address2}},</label><br />
                    <label>{{userverify.city}},{{userverify.state}}-{{userverify.pincode}},</label><br />
                    <label>{{userverify.email}},{{userverify.mobile}}</label>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6"><button id="btn-login" ng-click='editaddress()' class="blckbtn">Edit Address</button></div>
                    <div class="col-md-6 col-xs-6 no-pad"><button type="submit" id="btn-login" ng-click="confirmbooking()" class="bookbtn">Confirm Booking</button></div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 no-pad" ng-show="!isuserloggedin">
                <div class="row">
                    <div class="alert alert-roc hide" roc-alert>{{addrerrMsg}}</div>
                </div>
                <div class="clearfix form-group">
                    <label for="firstname">First Name <span class="req">*</span></label>
                    <input type="text" name="name" id="firstname" ng-model='ufname' class="form-control" placeholder="First Name">
                </div>
                <div class="clearfix form-group">
                    <label for="firstname">Last Name <span class="req">*</span></label>
                    <input type="text" name="name" id="lastname" ng-model='ulname' class="form-control" placeholder="Last Name">
                </div>
                <div class="clearfix form-group">
                    <label for="mobile number">Mobile Number <span class="req">*</span></label>
                    <input type="mobile" name="mobile" id="mobile" ng-model='umobilenumber' class="form-control" placeholder="Mobile Number">
                </div>
                <div class="clearfix form-group">
                    <label for="email">Email Address <span class="req">*</span></label>
                    <input type="text" name="email" id="email" class="form-control" ng-model='uemail' placeholder="Email Address">
                </div>
                <div class="clearfix form-group">
                    <label for="email">Street Address <span class="req">*</span></label>
                    <input type="text" name="streetaddress" id="streetaddress" ng-model='uaddress1' class="form-control" placeholder="Street Address">
                </div>
                <div class="clearfix form-group">
                    <label for="email">Street Address 2</label>
                    <input type="text" name="streetaddress2" id="streetaddress2" class="form-control" ng-model='uaddress2' placeholder="Street Address 2">
                </div>
                <div class="clearfix form-group">
                    <label for="City">City <span class="req">*</span></label><br>
                    <select ng-model='uselectedcity' ng-options="item.cname as item.cname for item in indiancities | orderBy:'cname'" class="minimal">
                        <option value="">Select city</option>
                    </select>
                </div>
                <div class="clearfix form-group">
                    <label for="state">State <span class="req">*</span></label><br>
                    <select id="state" ng-model='uselectedstate' ng-options="item.sname as item.sname for item in indianstates | orderBy:'sname'" class="minimal">
                        <option value="">Select state</option>
                    </select>
                </div>
                <div class="clearfix form-group">
                    <label for="email">Postal Code <span class="req">*</span></label>
                    <input type="text" name="Code" id="Code" ng-model='upostalcode' class="form-control" placeholder="Postal Code">
                </div>
                <!-- <div class="clearfix form-group">
                    <label for="email">Do you have a promotional discount code?</label>
                    <input type="text" name="Code" id="Code" class="form-control" placeholder="Postal Code">
                </div> -->
                <div class="row">
                    <!-- <div class="col-md-6 col-xs-6"><button type="submit" id="btn-login" class="blckbtn">Go back</button></div> -->
                    <div class="col-md-6 col-xs-6"><button type="submit" id="btn-login" ng-click="saveuserinfo()" class="bookbtn">Save</button></div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 details-right">
            <h2>Booking Details</h2>
            <div class="bookdetails-wrap">
                <h3>{{fromaddress}} > {{toaddress}}</h3>
                <p><strong>On</strong> 8 June,2015</p>
                <p><strong>at</strong> 10:15 PM</p>
                <p>Estimated Distance:<strong> {{estdistance}}</strong></p>
                <p>Estimated Duration:<strong> {{esttime}}</strong></p>
                <div class="clearfix">&nbsp;</div>
                <p>Sedan</p>
                <p>4 Seater A/C</p>
            </div>
            <div class="total">Approx. Total {{approxTotal}} INR</div>
        </div>
    </div>
</div>