<div class="container-fluid innerbg">
    <div class="container">
        <div class="row"><h1>Anytime, Anywhere</h1></div>
    </div>
    <div class="row"><div class="checks"></div></div>
</div>

<div class="container careers-wrap">
<div class="row">
	<div class="col-md-7">
		<p> Willing to join a workplace that induces highly driven and irrevocable minds?</p>
		<p>You have got to the right place here. We @Rideoncab love people who are willing to take challenges and think creatively in an environment where you can learn a lot of new things. Our goal is to attract the best pool of people from the finest present out there. We are professionals but we here at Rideoncab make it fun to work with and for. Our group strives to achieve that impeccable growth and the best talent would make it possible.
	Want to join our team? Write to us at <a href="mailto:info@rideoncab.com?Subject=Hello%20again" target="_top">info@rideoncab.com</a></p></div>
	<div class="col-md-1"></div>
	<div class="col-md-4">
	  <img src="app/assets/images/careers.png" class="img-responsive">
	</div>
  </div>
</div>