<div class="container-fluid innerbg">
    <div class="container">
        <div class="row"><h1>Anytime, Anywhere</h1></div>
    </div>
    <div class="row"><div class="checks"></div></div>
</div>

<div class="container details-wrap">
	<div class="col-md-12">
		Thanks for booking a cab. Our executives contact you for further details on confirmation.
	</div>
	<div class="col-md-12">
		<label>Booking reference id :</label><h3>{{referenceid}}</h3>
	</div>

	<a class="btnblack" ui-sref="home.search">Continue booking</a>
</div>