
<div class="container-fluid innerbg">
    <div class="container">
        <div class="row"><h1>Anytime, Anywhere</h1></div>
    </div>
    <div class="row"><div class="checks"></div></div>
</div>

<div class="container careers-wrap">
<div class="row">
	<div class="col-md-12">
	    <h1><span>Thank you!</span></h1>
		<p> for booking a cab. Our executives contact you for further details on confirmation.</p>
	</div>
	<div class="col-md-12">
		<label>Your Booking reference id :</label>
		<div class="refid">{{referenceid}}</div>
		<div class="clearfix"></div>
		<a class="bookbtn" ui-sref="home.search">Continue booking</a>
	</div>
	</div>
</div>



