<div class="container-fluid homebg">
    <div class="container home-filters">
        <div class="row"><h1>Anytime,<br>Anywhere</h1></div>
        <div class="row checks"></div>
        <div class="row home-filters-main">
        <div class="alert alert-roc hide" roc-alert>{{errMsg}}</div>
            <div class='col-md-3 form-group required'>
                <label class='control-label'>Type of Service</label>
                <select class="minimal" ng-model="servicetype" ng-options="item.sid as item.service for item in cabservicetype">
                    <option value="">Select cab service type</option>
                </select>
            </div>
            <div class='col-md-3 form-group required'>
                <label class='control-label'>Departure Date &amp; Time</label>
                <input id="datetimepicker" ng-model="pickuptime" type="text" />
            </div>
            <div class='col-md-3 form-group required'>
                <label class='control-label'>Pickup Location</label>
                <input type="text" ng-model="fromaddress" placeholder="Enter pickup location" gmap-search="fromaddress" />
            </div>
            <div class='col-md-3 form-group required'>
                <label class='control-label'>Destination</label>
                <input type="text" ng-model="toaddress" placeholder="Enter destination" gmap-search="toaddress" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pull-right book-btn-wrap">
                <button class="bookbtn" ng-click="book()">get your cab</button>
            </div>
        </div>
    </div>
</div>

<!--how it works-->
<div class="container-fluid how-wrap hidden-xs">
    <div class="container">
        <h1><span>How</span><br> it works?</h1>
        <div class="process">
            <div class="process-row">
                <div class="process-step">
                    <div class="yellow-circle"><img src="app/assets/images/destination.png" alt=""/></div>
                    <h3>Set your destination</h3>
                    <p>from the pickup place</p>
                </div>
                <div class="process-step">
                    <div class="yellow-circle"><img src="app/assets/images/select_cab.png" alt=""/></div>
                    <h3>Select a cab which you like</h3>
                    <p>from the list of results</p>
                </div>
                <div class="process-step">
                    <div class="yellow-circle"><img src="app/assets/images/details.png" alt=""/></div>
                    <h3>Send your details</h3>
                    <p>for the security</p>
                </div>
                <div class="process-step">
                    <div class="yellow-circle"><img src="app/assets/images/confirm.png" alt=""/></div>
                    <h3>Confirm the cab &amp; enjoy</h3>
                    <p>for the ride</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--testimonials-->
<div class="container testimonials">
    <div class="row">
        <h1><span>client</span><br>testimonails</h1>
        <div class="col-md-12 testimonials-main">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="6000">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">
                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="app/assets/images/shravankasagoni.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-8">
                                    <p>The service couldn’t have been better. Ride on Cab was economical and the service was on point. It’s just been a couple of months for its existence and it just made traveling better. Keep up the good work!</p>
                                    <small>Shravan Kasagoni - Sr. Software Engineer ,Pramathi Technologies</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="app/assets/images/shrvya.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-8">
                                    <p>Hassle free booking and affordable prices. It’s just simple to choose a service you like over the others and enjoy your ride at your own pace. Will keep using the service.</p>
                                    <small>Shravya - Software Engineer United Health Groups</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="app/assets/images/gopi.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-8">
                                    <p>You are surely going to see the difference once you start using the website or the mobile app. The service was excellent and the billing, transparent. I have been using several cab services from a long time and getting all the choices under one roof just made my traveling easier.</p>
                                    <small>Gopi Krishna - Data Analyst - Progressive Digital Media</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>

                    <!-- Quote4 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="app/assets/images/srikar.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-8">
                                    <p>You guys are doing a great job. The app is addictive with hands on capabilities of getting a cab so soon. Keep on maintaining the service and we’ll keep on using the service.</p>
                                    <small>Srikar Ananthula - Software Engineer Wipro</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" ng-non-bindable class="left carousel-control"><img src="app/assets/images/left.png"></a>
                <a data-slide="next" href="#quote-carousel" ng-non-bindable class="right carousel-control"><img src="app/assets/images/right.png"></a>
            </div>
        </div>
    </div>
</div>
<!--testimonials-->
<script>
    $('#datetimepicker').datetimepicker();
</script>