<div class="container-fluid innerbg">
    <div class="container">
        <div class="row"><h1>Anytime, Anywhere</h1></div>
    </div>
    <div class="row"><div class="checks"></div></div>
</div>

<div class="container careers-wrap">
	<div class="row">
	<div class="col-md-12">
	    <h1><span>TERMS OF SERVICE:</span></h1>
		<p>Rideoncab is ONLY a cab booking market place. It does not operate cab services of its own. In order to provide a comprehensive choice of cab operators, prices to customers, it has tied up with many cab operators. Rideoncab advice to customers is to choose cab operators they are aware of and whose service they are comfortable with.</p>
		<p>With Ride on Cab you can also earn/rewarded while traveling. Score Ride on Cab points and get rewarded with movie vouchers, recharges etc. More you travel more the points </p> 
		<p>With Ride on Cab you can get extra discounts after the discounts of vendor.</p>
		<h3>Rideoncab Do’s: </h3>
		<p>We take full responsibility for:</p>
		<ul>
		  <li>Providing booking confirmation message with driver information (a message that will be accepted by the cab operator) for its network of cab operators.</li>
		  <li>Providing customer support and information in case of any delays / inconvenience.</li>
		  <li>Providing approximate fare information based on initial package selection.</li>
		</ul>
		<h3>Rideoncab Don’ts:</h3>
		<p>We are not responsible for:</p>
		<ul>
		  <li>The cab operator's cab not reaching on time.</li>
		  <li>The cab operator's drivers being rude.</li>
		  <li>The cab operator's cab seats etc not being up to the customer's expectation.</li>
		  <li>The cab operator canceling the trip due to unavoidable reasons.</li>
		  <li>The baggage of the customer getting lost / stolen / damaged.</li>
		  <li>The cab operator changing a customer's cab type at the last minute. But it would be great if you could bring it into our notice in the form of ratings and review’s we will surely look into the matter so that you won’t be dejected the next time.</li>
		  <li>In case of a booking confirmation e-mail and sms get not being on time or turning out to be a failure because of some or the other technical reasons (as a result of incorrect e-mail ID / phone number provided by the user etc), a ride will be considered 'booked' as long as it shows up on the confirmation page of our website.</li>
		  <li>Grievances and claims related to the cab journey should be reported to rideoncab support team within 10 days of your travel date along with your respective booking id.</li>
		</ul>
    </div>
	</div>
</div>
